<div class="repository-list">
  <div *ngFor="let repo of repositories" class="repo-card">
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title>{{ repo.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ repo.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="primary" href="/repository/{{ repo.owner.login }}/{{ repo.name }}" target="_blank">View on GitHub</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
